*{
/*  	border:solid 1px red;     */
	font-family: 'Shippori Mincho', serif;
	text-align:center;
	
	
}
.navbar-brand{
/* background:url(https://54fish.github.io/picture/light.jpg)no-repeat bottom center / cover; */
	
}
h1{
	text-align:center;
	color:white;
}
h2{
	text-align:center;
	color:white;
}
p{
	text-align:center;
	color:white;
}
/* h2-1 {
	text-align:center;
	color:white;
} */

.navbar-nav{
	margin-left:10px;
}  
.container{
	padding-top:80px;
	
}
.ncyu{
	padding-top:40px;
}
section{
	padding-top:100px;
}
section#s0{
background:url(https://54fish.github.io/picture/skky.jpg)no-repeat bottom center / cover; 
}

section#s2{
background:url(https://54fish.github.io/picture/yyy.jpg)no-repeat bottom center / cover; 
	height:700px;
}
section#s3{
/* 	background-color:#a5cbf0; */
	background:url(https://54fish.github.io/picture/skky.jpg)no-repeat bottom center / cover; 
/* background:url(https://54fish.github.io/picture/lll.jpg)no-repeat bottom center / cover; */
}
section#s4{
	background:#b8c2e6;
}
.toTop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 33%;
	opacity: 0.6;
	background: #000;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.toTop-arrow::before, .toTop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: orange;
	position: absolute;
	content: "";
}
.toTop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.toTop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.toTop-arrow:focus {outline: none;}
 .dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;} 
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

/* body{
  margin: 0;
  background-color:#a2f2e0;
} */
.mask {
   margin-top: 0vh;
  width:100vw;
  height:65vh;
/* 	background: url(https://54fish.github.io/picture/skky.jpg)no-repeat top center / cover;  */
	
/*   background: url(https://54fish.github.io/picture/ocean2.jpg) no-repeat top center / cover; */
/*   -webkit-mask: url(https://54fish.github.io/picture/ski.png) no-repeat center center / contain;
  mask: url(https://54fish.github.io/picture/ski.png) no-repeat center center / contain; */
}
.wrap{
  width: 100vw;
  height: 300vh;
	padding-top:70px;
  background: url(https://54fish.github.io/picture/light.jpg) no-repeat bottom center / cover;
  text-align: center;
  line-height: 20vh;
  font-size: 5rem;
  font-family: 'Bowlby One SC';
	background-color:#a2f2e0;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width:768px){
  html{
    font-size : 10px;
  }
}
@media (max-width:480px){
  html{
    font-size : 5px;
  }
}
.ch-grid {
/* 	background-color:black; */
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	transition: all 0.4s ease-in-out;
}
 .ch-img-1 { 
	background-image: url(https://54fish.github.io/picture/jump.jpg)no-repeat bottom center / cover;;
} 

.ch-img-2 { 
	background-image: url(https://54fish.github.io/picture/hhh.jpg);
	
}

.ch-img-3 { 
	background-image: url(../images/3.jpg);
}
.ch-info {
	position: absolute;
	background: rgba(63,147,147, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}
.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}
.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	transition: all 1s ease-in-out 0.4s;
}
.ch-info p a {
	display: block;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(255,242,34, 0.8);
}
.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,200,0,.5),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	transform: scale(1);
	opacity: 1;
}
.ch-item:hover .ch-info p {
	opacity: 1;
}
/* .navbar navbar-expand-md navbar-light bg-light fixed-top{
	margin-top:0px;
} */
.bg-co{
    background-color:#f2e8bd;
    box-shadow: 0px 10px 10px 0px #000;
	
}
.bg-co.dropdown-menu{
    background-color: #f2e8bd;
}
.bg-co .dropdown-item:hover{
    background-color: #c0b8f5;
}
.bg-co .navbar-text {
    color: #FFF;
}
.nav-link{
	text-decoration-color:#FFF;
}
.video-container {

position: relative;

padding-bottom: 56.25%;

padding-top: 30px;

height: 0;

overflow: hidden;

}

.video-container iframe, .video-container object, .video-container embed {

position: absolute;

top: 0;left: 0;

width: 100%;

height: 100%;}
.b{
	height:2px;
}